<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Congratulations! A buyer is interested in your listing on Art Market, <%= @listing.name %>, for $<%= @listing.cost %>.</p>
    <p>If you'd like to discuss further, contact the buyer at <%= @buyer %>.</p>
  </body>
</html>