<header class="navbar navbar-default">
<div class="navbar-class">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="/">Art Market</a></li>
        <% if @current_user %>
            <li><a href="<%= new_listing_path %>">New Listing</a></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
            <li><%= link_to @current_user.name, :controller => 'users', :action => "show", :id => @current_user.id %></a></li>
            <li><a href="/logout">Logout</a></li>
        <% else %>
            <li><a href="/register">Register</a></li>
        <% end %>
    </ul>
  </div>
</div>
</header>
